<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de Usuario</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <form>
            <div class="logo-search">
                <div class="logo">
                    <img src="/images/logo-mercado-liebre.svg" width="250px" alt="Logo">
                </div>
            </div>
            <div>
                <label for="usuario">Nombre de usuario:</label>
                <input type="text" id="usuario" name="usuario" required>
                <p class="error-message" id="usuario-error"></p>
            </div>
            <div>
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" required>
                <p class="error-message" id="contrasena-error"></p>
            </div>
            <div class="boton">
                <button type="submit">Iniciar Sesión</button>
                <button type="button">Volver</button>
            </div>
        </form>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>
